.Ip_30 {
  width: 30% !important;
}
.Ip_40 {
  width: 40% !important;
}
.Ip_50 {
  width: 50% !important;
}
.Ip_60 {
  width: 60% !important;
}
.Ip_70 {
  width: 70% !important;
}
.Ip_80 {
  width: 80% !important;
}
.Ip_90 {
  width: 90% !important;
}
.Ip_100 {
  width: 100% !important;
}
.Row_c {
  padding: 12px 12px 3px;
}
.Col_flex_end {
  display: flex;
  justify-content: flex-end;
}
.Col_end {
  display: flex;
}
.Modal_search {
  text-align: center;
}
.Po_Le {
  margin-right: 10px;
  margin-left: 10px;
}
.But {
  border-color: #1890ff;
  color: #1890ff;
}
.Table_Pa {
  padding: 12px;
}
.Row_c_ga {
  padding: 12px 10px 12px 0 !important;
}
.Table_Pa_ga {
  padding: 12px 12px 12px 0 !important;
}
.ant-card-body {
  padding: 12px !important;
}
.ant-form-item-has-success.ant-form-item-has-feedback .ant-form-item-children-icon {
  position: absolute;
}
.ant-form-item-has-error.ant-form-item-has-feedback .ant-form-item-children-icon {
  position: absolute;
}
.Po_Le_search {
  margin-bottom: 12px !important;
}
.Po_Le_search .items {
  margin-bottom: 0 !important;
}
.ant-form-item {
  margin-bottom: 12px !important;
}
.ant-table-cell > .ant-form-item {
  margin-bottom: 0 !important;
}
.ant-card-head {
  border-bottom: none !important;
}
.abc {
  margin-bottom: 12px;
}
.ant-tree .ant-tree-node-content-wrapper {
  padding: 0 !important;
}
.ant-tree-switcher {
  width: 15px;
}
.ant-tree-indent-unit {
  width: 20px;
}
.ant-pro-form-group-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ant-empty-normal {
  display: none;
}
.ant-table-thead tr th {
  background: #f2f2f2;
}
.ant-input-search {
  width: 240px !important;
}

.ant-tree-treenode {
  align-items: center !important;
}
